@media (max-width: 1080px){
    /* Header */
    .header_content{
        display: flex;
        flex-direction:column;
        justify-content: space-evenly;
        align-items: center;
    }
    .header_content > *{
        margin: 0px;
        padding: 0px;
    }
    .header_animation_left,.header_animation_right{
        width: auto;
        margin: 50px;
        height: auto;
    }
    .profile_photo{
        max-width: 250px;    
        max-height: 250px;
    }
    .profile_style{
        height: 200px;
        width: 200px;
    }
}
@media (max-width: 768px){
    /* Header */
    .header_title{
        text-align: center;
    }
    /* MAIN */
    main p{
        max-width: 600px;
    }
    /* Proyects */
    .proyect{
        width: 600px;
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 640px){
    /* Header */
    .profile_style{
        transform: rotate(10deg) scale(0.8);
    }
    /* MAIN */
    main p{
        max-width: 400px;
    }
    /* Proyects */
    .proyect{
        width: 400px;
        display: flex;
        flex-direction: column;
    }
    .proyect{
        width: 400px;
    }
    /* Contact */
    .contact{
        width: 100vw;
        border-radius: 0;
    }
}
@media (max-width: 440px){
    /* Animations */
    .header_animation_left,.header_animation_right{
        margin:20px;
    }
    /* MAIN */
    main p{
        max-width: 400px;
    }
    /* Header */
    .header_title{
        font-size: 40px;
    }
    /* Proyects */
    .proyect{
        width: 400px;
        display: flex;
        flex-direction: column;
    }
    .proyect{
        width: 300px;
    }
    
}
@media (max-width: 320px){
    /* Header */
    .profile_photo{
        max-width: 200px;    
        max-height: 200px;
        transform: rotate(-10deg);
    }
    .profile_style{
        height: 150px;
        width: 150px;
    }
    /* MAIN */
    main p{
        max-width: 100%;
    }
    /* Proyects */
    .proyect{
        width: 95vw;
        display: flex;
        flex-direction: column;
    }
    .proyect{
        width: 90%;
    }
    
}