header{
    background-color:#0b110d ;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0 0 10px 2px #000;
    height: 350px;  
}
.header_content{
    display: flex;
    justify-content: center;
    align-items: center;

}
.header_title{
    color: #c3aa72;
    margin:5px;
    text-shadow: #6b5c3f -4px 3px 3px;
}
.profile_photo{
    max-width: 300px;    
    max-height: 300px;
    transform: rotate(-10deg);
}
