
/* MAIN */

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}
main p{
    max-width: 800px;
}

/* PROYECTS */
.proyect h3{
    margin: 0;
}
section.proyects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.proyect{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #577881;
    margin: 1em 0px;
    padding: 0.5rem;
    max-width: 50%;
    border-radius: 10px;
    box-shadow: inset 0 0 10px 1px #000;
    transition:all 0.1s ease-in;
}
.proyect:hover{
    transition:all 0.1s ease-in;
    transform: scale(1.005);
    box-shadow: 0 0 10px 1px #000;

}
.proyect:active{
    transform: scale(1);
    transition:all 0.1s ease-in;
}
.proyect_buttons{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}
.proyect_img{
    max-width: 200px;
    max-height: 200px;
}
.proyect_link{
    max-width: 30px;
    max-height: 30px;
}
.btn_proyect_content{
    width: fit-content;
    height: 30px;
    padding: 5px;
}
section.proyects p{
    color: #000;
}
.proyect_content{
    display: flex;
    flex-direction: column;
}
/* STUDIES */

section.studies{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2vh 0;
}
section.studies li{
    max-width: 1000px;
}
