/* GLOBAL */
body{
    background-color:#2c4d56;
    font-family: Montserrat;
    font-size: 1rem;
}
* {
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    margin: 25px 5px;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
p{
    margin: 10px 5px;
    color: #A9CCD6;
}
input,textarea{
    outline: transparent;
    border: hidden;
}

/* HEADER */

header{
    background-color:#0b110d ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0 0 10px 2px #000;
    height: 350px;
}
header h1{
    color: #c3aa72;
    margin:5px;
    text-shadow: #6b5c3f -4px 3px 3px;
}
.profile_photo{
    max-width: 300px;    
    max-height: 300px;
    transform: rotate(-10deg);
    
}
.profile_style{
    margin: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(10deg);
    border-radius: 50px 0px;
    overflow: hidden;
    height: 250px;
    width: 250px;
    box-shadow: #c3aa72 0 0 35px 0.2px;
}

/* MAIN */

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}
main p{
    max-width: 1000px;
}

/* PROYECTS */

section.proyects{
    margin: 2vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.proyect{
    display: flex;
    flex-direction: row;
    background-color: #577881;
    margin: 1em 0px;
    max-width: 50%;
    border-radius: 10px;
    box-shadow: inset 0 0 10px 1px #000;
    transition:all 0.1s ease-in;
}
.proyect:hover{
    transition:all 0.1s ease-in;
    transform: scale(1.01);
    box-shadow: 0 0 10px 1px #000;

}
.proyect:active{
    transform: scale(1);
    transition:all 0.1s ease-in;
}
a.proyect__link{
    display: flex;
    flex-direction: row;
}
.proyect__img{
    max-width: 200px;
    max-height: 200px;
}
section.proyects p{
    color: #000;
}
/* STUDIES */

section.studies{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2vh 0;
}
section.studies li{
    max-width: 1000px;
}

/* CONTACT */
section.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25px auto;
    background-color: #577881;
    max-width: 800px;
    min-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 15px 1px #000;
}
section.contact form{
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
}
section.contact input{
    margin: 10px 0;
    border-radius: 3px;
    padding: 0.5rem 5px;
    font-family: Montserrat;
}
section.contact textarea{
    margin: 10px 0;
    border-radius: 3px;
    padding: 0.5rem 5px;
    height: auto;
    resize: none;
    font-family: Montserrat;
}
section.contact fieldset{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 1rem;
    margin: 0.5rem;
    border-radius: 10px;
    border: solid 1px #c3aa72;
}
section.contact legend{
    color: #c3aa72;
    font-size: 1.2rem;
    padding: 0 5px;
}
.form__submit{
    background-color: #c3aa72;
    height: 4em;
    width: 8em;
    transition:all 0.1s ease-in;
    transform: scale(1);
    box-shadow:  0 0 10px 1px #000;
}
.form__submit:active{
    background-color: #c3aa72;
    height: 4em;
    width: 8em;
    transition:all 0.1s ease-in;
    transform: scale(0.98);
    box-shadow: 0 0 5px 1px #000;
}
/* FOOTER */
footer{
    margin-top: 2vh;
    height: 10vh;
    border-radius: 20px 20px 0 0;
    background-color: #0b110d;
    box-shadow: 0 0 10px 2px #000;

}

/* DEPLOYABLE MENU */

