/* HEADER */

.header_animation_container{
    position:absolute;
    width: 100%;
    height: inherit;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
.header_animation_left,.header_animation_right{
    width: fit-content;
    height: auto;
    display: flex;
    justify-content: center;
    margin:100px;
}
.header_animation_part_1{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 13px;
    top: -100%;
    animation: header_animation_movement_1 8s infinite backwards linear;
}
@keyframes header_animation_movement_1{
    from{
        top: -100%;
    }
    to{
        top: 0;
    }
}

.header_animation_part_2{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 13px;
    top: -100%;
    animation: header_animation_movement_2 8s infinite backwards linear;
}
@keyframes header_animation_movement_2{
    from{
        top: 0;
    }
    to{
        top: 100%;
    }
}

.header_animation_line{
    background-color: #c3aa72;
    width: 20px;
    height: 70px;
    border-radius: 50px;
    position: relative;
    box-shadow: -2px 1px 5px 5px #463c29;
}
.header_animation_line::after{
    z-index: 5;
    content: '';
    display: block;
    position: absolute;
    width: 5px;
    height: 80%;
    background-color: #ffebc0;
    top: 50%;
    transform: translateY(-50%);
    left: 11px;
    border-radius: 4px;
}
.header_animation_line::before{
    z-index: 5;
    content: '';
    display: block;
    position: absolute;
    width: 5px;
    height: 85%;
    background-color: #9c885c;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    border-radius: 100px 0 0 100px;
}
.header_animation_dot{
    background-color: #c3aa72;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    position: relative;
    box-shadow: -2px 1px 5px 5px #463c29;
}
.header_animation_dot::after{
    z-index: 5;
    content: '';
    display: block;
    position: absolute;
    width: 5px;
    height: 50%;
    background-color: #ffebc0;
    top: 50%;
    transform: translateY(-50%);
    left: 11px;
    border-radius: 4px;
}
.header_animation_dot::before{
    z-index: 5;
    content: '';
    display: block;
    position: absolute;
    width: 5px;
    height: 70%;
    background-color: #9c885c;
    top: 50%;
    transform: translateY(-50%);
    left: 1px;
    border-radius: 100px 0 0 100px;
}
.profile_style{
    margin: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(10deg);
    border-radius: 50px 0px;
    overflow: hidden;
    height: 250px;
    width: 250px;
    box-shadow: #c3aa72 0 0 35px 0.2px;
    animation: profile_anim 3s ease-in-out  infinite reverse both;
}
@keyframes profile_anim{
    0%{
        box-shadow: #c3aa72 0 0 15px 0.009px;
    }
    50%{
        box-shadow: #c3aa72 0 0 35px 0.2px;
    }
    100%{
        box-shadow: #c3aa72 0 0 15px 0.009px;
    }
}
