/* HEADER */
header{
    background-color:#0b110d ;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0 0 10px 2px #000;
    height: 350px;  
}
.header__content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.header__title{
    color: #c3aa72;
    margin:5px;
    text-shadow: #6b5c3f -4px 3px 3px;
}
.profile__photo{
    max-width: 300px;    
    max-height: 300px;
    transform: rotate(-10deg);
}
.profile__style{
    margin: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px 0px;
    transform: rotate(10deg);
    overflow: hidden;
    height: 250px;
    width: 250px;
}
/* navBar */
.nav__container{
    display: visible;
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: fit-content;
    padding: 10px;
    justify-content: center;;
    gap: 15px;
}
.nav-bar--disabled{
    display: visible;
    width: 100%;
    height: fit-content;
    position: fixed;
    top: -10%;
    transition: all 0.2s ease-in-out;
    z-index: 20;

}
.nav-bar--active{
    display: visible;
    width: 100%;
    height: fit-content;
    position: fixed;
    top: 0;
    transition: all 0.2s ease-in-out;
    z-index: 20;
}
.nav__item{
    margin: 0 10px;
    color: #c3aa72;
    font-size: 1.5rem;
    text-shadow: #6b5c3f -4px 3px 3px;
    text-decoration: none;
}
.nav__logo{
    max-width: 30px;
    max-height: 30px;
    position: absolute;
    left: 10px;
}
/* FOOTER */
footer{
    margin-top: 2vh;
    height: 10vh;
    border-radius: 20px 20px 0 0;
    background-color: #0b110d;
    box-shadow: 0 0 10px 2px #000;
    width: 100%;
}