/* MAIN */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main section > p{
    max-width: 700px;
}
/* PRESENTATION */
.presentation p{
    text-align: center;
}
/* PROJECTS */
.project h3{
    width: 100%;
    grid-area: 1 / 2 / 1 / 3;
    text-align: center;
    color: #0b110d;
}
.project{
    height: 200px;
    width: 700px;
    background-color: #577881;
    overflow: hidden;
    border-radius: 10px;
    transition:all 0.1s ease-in;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 25% 30% 20% 25%;
    place-items: center;
}
.project:hover{
    transition:all 0.1s ease-in;
    transform: scale(1.005);
    box-shadow: 0 0 10px 1px #000;
}
.project__img-link{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    grid-row: 1 / 5;
    grid-column: 1 / 2;
}
.project__tech{
    grid-area: 3 / 2 / 4 / 3;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.project__tech-img{
    height: inherit;
    margin: 0 10px;
}
.project__img{
    width: 110%;
    height: 110%;
    object-fit: cover;
    transition:transform 0.1s ease-in;
}
.project__img-link:active{
    transform: scale(1.05);
    transition:transform 0.1s ease-in;
}
.project__link{
    text-align: center;
    font-size: 1rem;
    margin: 0 10px;
    padding: 5px 10px;
    height: fit-content;
    width: 150px;
    font-family:Montserrat;
    border-radius: 5px;
    background-color: #c3aa72;
    transition: background-color 0.3s ease-in-out;
}
.project__link:hover{
    background-color: #ffebc0;
    transition: background-color 0.3s ease-in-out;
}
.project__link:active {
  transform: scale(0.98);
}
.project__link-img{
    max-width: 30px;
    max-height: 30px;
}
.project__text{
    color: #f3fdff;
    grid-area: 2 / 2 / 3 / 3;
    margin: 0 10px;
    text-align: center;
}
.project__buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 4 / 2 / 5 / 3;
}
.project__info-button--open{
    text-align: center;
    font-size: 1rem;
    margin: 0 10px;
    padding: 5px 10px;
    width: 200px;
    font-family:Montserrat ;
    border-radius: 5px;
    background-color: #c3aa72;
    transition: background-color 0.3s ease-in-out;
    border: none;
}
.project__info-button--open:hover{
    background-color: #ffebc0;
    transition: background-color 0.3s ease-in-out;
}
.project__info-button--open:active {
  transform: scale(0.98);
}
/* PROJECT INFO/PREVIEW */
.project-info__blur--disabled{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    pointer-events: none;
    transition:backdrop-filter 0.3s ease-in-out ;
}
.project-info__blur--active{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    z-index: 10;
    pointer-events: all;
    transition:backdrop-filter 0.3s ease-in-out ;
}
.project-info{
    position: fixed;
    z-index: 15;
    width: 80vw;
    height: 80vh;
    background-color: #0b110d;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 50% auto 100px;
    grid-template-rows: 100px 50% auto;
    filter: drop-shadow(#6b5c3f 0 0 5px);
    overflow-y: hidden;
}
.project-info--active{
    transform: scale(1);
    opacity: 1;
    transition: transform 0.3s, opacity 0.3s;
}
.project-info--disabled{
    transition: transform 0.3s, opacity 0.3s;
    transform: scale(2);
    opacity: 0;
    pointer-events: none;
}
.project__info-button--close{
    width: 50px;
    height: 50px;
    grid-area: 1 / 3 / 2 / 4;
    place-self: center;
    background: none;
    border-radius: 100%;
    border: solid #c3aa72 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    transition: border 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.project__info-button--close:hover{
    border: solid #ddd 1px;
    transform: scale(1.05);
    transition: border 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.project__info-button--close:active{
    border: solid #c3aa72 1px;
    transform: scale(1);
    transition: border 0.1s ease-in-out, transform 0.1s ease-in-out;
}
.project-info__close--img{
    width: 100%;
    height: 100%;
}
.proyect-info__title{
    grid-area: 1 / 1 / 2 / 3;
    text-align: center;
    font-size: 3rem;
    place-self: center;
    color: #c3aa72;
    text-shadow: #6b5c3f -4px 3px 3px;
}
.project-info__img-slider{
    grid-area: 2 / 1 / 3 / 2;
}
.project-info__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project-info__content--text{
    letter-spacing: 1px;
    line-height: 2rem;
    width: 100%;
}
.project-info__tech{
    grid-area: 3 / 1 / 4 / 2;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 10% 0 10% 0;
}
.project-info__tech-text{
    place-self: center;
    font-size: 2rem;
}
.project-info__tech-images{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}
.project-info__tech-img{
    max-width: 100px;
    min-width: 30px;
    flex-shrink: 1;
    filter: drop-shadow(#6b5c3f 0 0 10px);
}
.project-info__content{
    grid-area: 2 / 2 / 4 / 4;
    margin: 20px;
}
/* EXPERIENCE */
.list__item{
    border-radius: 10px;
    display: grid;
    grid-template-rows: 50px au o;
    place-items: center;
    margin: 1rem 0;
}
.item__header{
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 50px auto;
    place-items: center;
    width: 100%;
}
.item__dot-active{ 
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #c3aa72;
    position: relative;
    transition: all 0.2s ease-out;
}
.item__dot-disabled{ 
    width: 0;
    height: 0;
    border-radius: 100%;
    background-color: #c3aa72;
    position: relative;
    transition: all 0.2s ease-out;
}
.item__dot-container{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #0b110d;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item__title{
    width: 100%;
    grid-area: 0 / 0 / 1 / 1;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: left;
    color: #98bfc8;
}
.item__content{
    color: #98bfc8;
    text-wrap: pretty;
    padding: 0 0 0 50px;
    display: grid;
    grid-template-rows: 0fr;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}
.item__content > *{
    min-height: 0;
}
.item__content--active {
    opacity: 1;
    grid-template-rows: 1fr;
    margin-top: 20px;
}
.item__content--disabled {
    opacity: 0;
    grid-template-rows: 0fr;
    margin-top: 0;
}
/* STUDIES */
.studies h3{
    color:#98bfc8;
}