/* COLORS: 0a0908 22333b eae0d5 CFBCA5 D0BC90 5e503f */
body{
    background-color:#22333b;
    font-family: Montserrat;
    font-size: 1rem;
}
.no-scroll {
  overflow: hidden;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.section__title{
    margin: 1rem;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
    color: #e1c483;
}
h3{
    font-size: 1.5rem;
}
p{
    font-weight: 600;
    color: #fff2e5;
    text-wrap: pretty;
}
input,textarea{
    outline: none;
    border: none;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    width: 700px;
}