@media (max-width: 1080px){
    /* Header */
    .header__content{
        display: flex;
        flex-direction:column;
        justify-content: space-evenly;
        align-items: center;
    }
    .header__content > *{
        margin: 0px;
        padding: 0px;
    }
    .header-animation__left,.header-animation__right{
        width: auto;
        margin: 50px;
        height: auto;
    }
    .profile__photo{
        max-width: 250px;    
        max-height: 250px;
    }
    .profile__style{
        height: 200px;
        width: 200px;
    }
}
@media (max-width: 768px){
    /* Header */
    .header__title{
        text-align: center;
    }
    /* MAIN */
    main p{
        max-width: 600px;
    }
    /* Proyects */
    .proyect{
        width: 600px;
    }
}
@media (max-width: 640px){
    /* Header */
    .profile__style{
        transform: rotate(10deg) scale(0.8);
    }
    /* MAIN */
    main p{
        max-width: 400px;
    }
    /* Proyects */
    .proyect{
        height: 400px;
        width: 400px;
        grid-template-columns: 1fr;
        grid-template-rows: 40% 10% 25% 10% 15%;
    }
    .proyect h3{
        grid-area: 2 / 1 / 3 / 2;
    }
    .proyect__img-link{
        grid-row: 1 / 2;
        grid-column: 1;
    }
    .proyect__text{
        grid-area: 3 / 1 / 4 / 2;
    }
    .proyect__tech{
        grid-area: 4 / 1 / 5 / 2;
        width: 100%;
        justify-content: center;
    }
    .proyect__buttons{
        grid-area: 5 / 1 / 6 / 2;
    }
    /* Contact */
    .contact{
        width: 100%;
        border-radius: 0;
        margin: 15px 0;
    }
}
@media (max-width: 440px){
    /* Animations */
    .header-animation__left,.header-animation__right{
        margin:20px;
    }
    /* MAIN */
    main p{
        max-width: 400px;
    }
    /* Header */
    .header__title{
        font-size: 40px;
    }
    /* Proyects */
    .proyect{
        width: 400px;
    }
    .proyect{
        width: 300px;
    }
    .proyect h3{
        font-size: 1.2rem;
    }
}
@media (max-width: 320px){
    /* Header */
    .profile__photo{
        max-width: 200px;    
        max-height: 200px;
        transform: rotate(-10deg);
    }
    .profile__style{
        height: 150px;
        width: 150px;
    }
    /* MAIN */
    main p{
        max-width: 100%;
    }
    /* Proyects */
    .proyect{
        width: 95vw;
    }
    .proyect{
        width: 90%;
    }
    
}