@media (orientation: portrait) {
    /* PROJECT INFO/PREVIEW */
    .project-info{
        grid-template-columns: auto 100px;
        grid-template-rows: 10% 30% 20% 40%;
        height: 90vh;
    }
    .project__info-button--close{
        width: 50px;
        height: 50px;
        grid-area: 1 / 2 / 2 / 3;
    }
    .proyect-info__title{
        grid-area: 1 / 1 / 2 / 2;
        font-size: 3rem;
        place-self: center;
    }
    .project-info__img-slider{
        grid-area: 2 / 1 / 3 / 3;
    }
    .project-info__tech{
        grid-area: 3 / 1 / 4 / 3;
        height: 100%;
        justify-content: space-evenly;
    }
    .project-info__tech-img{
        max-width: 80px;
        flex-shrink: 1;
    }
    .project-info__content{
        grid-area: 4 / 1 / 5 / 3;
    }
    .project-info__content--text{
        font-size: 1.2rem ;
    }
}
@media (orientation: landscape) {
    /* PROJECT INFO/PREVIEW */
    .project-info__content--text{
        font-size: 1.5rem ;
    }
}
@media (max-width: 1080px){
    /* HEADER */
    .header__content{
        display: flex;
        flex-direction:column;
        justify-content: space-evenly;
        align-items: center;
    }
    .header__content > *{
        margin: 0px;
        padding: 0px;
    }
    .header-animation__left,.header-animation__right{
        width: auto;
        margin: 50px;
        height: auto;
    }
    .profile__photo{
        max-width: 250px;    
        max-height: 250px;
    }
    .profile__style{
        height: 200px;
        width: 200px;
    }
    /* NavBAr */
    .nav-container{
        gap: 20px;
    }
    /* PROJECT INFO/PREVIEW */
    .proyect-info__title{
        font-size: 2rem;
    }
}
@media (max-width: 768px){
    /* Header */
    .header__title{
        text-align: center;
    }
    /* MAIN */
    main p{
        max-width: 600px;
    }
    /* projects */
    .project{
        width: 600px;
    }
}
@media (max-width: 640px){
    /* HEADER */
    .profile__style{
        transform: rotate(10deg) scale(0.8);
    }
    /* MAIN */
    main p{
        max-width: 400px;
    }
    /* PROJECT INFO/PREVIEW */
    .project-info{
        width: 100%;
        border-radius: 0;
    }
    /* PROJECTS */
    .project{
        height: 400px;
        width: 400px;
        grid-template-columns: 1fr;
        grid-template-rows: 40% 10% 25% 10% auto;
    }
    .project h3{
        grid-area: 2 / 1 / 3 / 2;
    }
    .project__img-link{
        grid-row: 1 / 2;
        grid-column: 1;
    }
    .project__text{
        grid-area: 3 / 1 / 4 / 2;
    }
    .project__tech{
        grid-area: 4 / 1 / 5 / 2;
        width: 100%;
        justify-content: center;
    }
    .project__buttons{
        grid-area: 5 / 1 / 6 / 2;
    }
    /* PROJECT INFO/PREVIEW */
    .proyect-info__title{
        font-size: 1.5rem;
    }
    .project-info__tech-img{
        margin: 5px;
    }
    /* CONTACT*/
    .contact{
        width: 100%;
        border-radius: 0;
        margin: 15px 0;
    }
}
@media (max-width: 440px){
    /* Animations */
    .header-animation__left,.header-animation__right{
        margin:20px;
    }
    /* MAIN */
    main p{
        max-width: 400px;
    }
    /* Header */
    .header__title{
        font-size: 40px;
    }
    /* projects */
    .project{
        width: 300px;
        height: 500px;
        grid-template-rows: 40% 10% 20% 10% auto;
    }
    .project h3{
        font-size: 1.2rem;
    }
    .project__buttons{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .project__info-button--open{
        width: 200px;
    }
    .project__link{
        width: 200px;
    }
    /* PROJECT INFO/PREVIEW */
    .proyect-info__title{
        font-size: 1.2rem;
    }
    .project-info__tech-text{
        font-size: 1.5rem;
    }
}
@media (max-width: 320px){
    /* Header */
    .profile__photo{
        max-width: 200px;    
        max-height: 200px;
        transform: rotate(-10deg);
    }
    .profile__style{
        height: 150px;
        width: 150px;
    }
    /* MAIN */
    main p{
        max-width: 100%;
    }
    /* projects */
    .project{
        width: 95vw;
    }
    .project{
        width: 90%;
    }
    
}